:root {
    --bgcolror: burlywood;
    --bgc: rgb(0, 0, 0);
    --bgbtn: rgb(54, 52, 52);
    --fontcl: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bgcolror);
    display: grid;
    place-content: center;
    height: 100vh;
    font-size: 2rem
}

.container {
    height: 80vh;
    width: 50vw;
    background: var(--bgc);
    border-radius: 1rem;
    padding: 1rem;
}

.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.screen {
    grid-column: 1/-1;
    color: var(--fontcl);
    text-align: right;
    padding: 0.5rem;
    font-size: 4rem;
    overflow: hidden;
}

.btn {
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-color: var(--bgbtn);
    color: var(--fontcl);
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: grey;
}

.light-gray {
    background: grey;
}

.light-gray:hover {
    background: var(--fontcl);
    color: black;
}

.org:hover {
    background: var(--fontcl);
    color: orange;
}

.org {
    background: orange;
}